<!-- // Title: Assignment 8.2 - Server-side Communications
// Author: Professor Krasso
// Date: Dec 11 2022
// Modified: Detres
//Week-8 exercises/videos
//https://www.youtube.com/watch?v=hAaoPOx_oIw
//https://openlibrary.org/
-->

<ng-container *ngIf="books.length === 0">
  <mat-spinner></mat-spinner>
</ng-container>
<!-- container  layout -->
<div fxLayout="column wrap">
  <h2 fxFlex class="green">Top {{books.length}} Favorite Books</h2>
  <!-- 9 books to be displayed here -->
  <div class="grid-container">
    <ng-container *ngFor=" let book of books">
      <mat-card>
        <mat-card-title class="grid-container__href blue" href (click)="showBookDetails(book.isbn)">{{book.title}}
        </mat-card-title>
        <mat-card-content class="grid-container__item ">
          <mat-list>
            <mat-list-item>ISBN: {{ book.isbn}}</mat-list-item>
            <mat-list-item>Pages: {{ book.numOfPages}}</mat-list-item>
            <mat-list-item>Authors: {{ book.authors}}</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </ng-container>

  </div>
</div>
